<h1>New User</h1>
<%= form_for @changeset, Routes.user_path(@conn, :create), fn f -> %>
<div>
  <%= text_input f, :name, placeholder: "name" %>
</div>
<div>
  <%= text_input f, :username, placeholder: "username" %>
</div>
<%= submit "Create User" %>
<% end %>